@inject IJSRuntime JS
@using MatBlazor
@using Client.Components
@page "/kalkulator"
<PageTitle>Kalkulator</PageTitle>
<h1>Kalkulator</h1>

<MatAutocompleteList  Label="Wybierz operacje" Items="@options" TItem="string" ShowClearButton="true" @bind-Value="@opcja"></MatAutocompleteList>

<Calculator Operation="@opcja"></Calculator>

@code {
    string opcja = "";
    string[] options = new[]
    {
        "+",
        "-",
        "*",
        "/"
    };
}
